In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf

In [2]:
from google.colab import files
uploaded = files.upload()
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving loan_status.csv to loan_status.csv
User uploaded file "loan_status.csv" with length 4628539 bytes

In [3]:
# Import our input dataset
loans_df = pd.read_csv('loan_status.csv')
loans_df.head()

  Loan_Status  Current_Loan_Amount  ... Bankruptcies  Tax_Liens
0  Fully_Paid             99999999  ...          0.0        0.0
1  Fully_Paid               217646  ...          1.0        0.0
2  Fully_Paid               548746  ...          0.0        0.0
3  Fully_Paid             99999999  ...          0.0        0.0
4  Fully_Paid             99999999  ...          0.0        0.0

[5 rows x 17 columns]

In [4]:
# Generate our categorical variable list
loans_cat = loans_df.dtypes[loans_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
loans_df[loans_cat].nunique()

Loan_Status              2
Term                     2
Years_in_current_job    11
Home_Ownership           4
Purpose                  7
dtype: int64

In [5]:
# Check the unique value counts to see if binning is required
loans_df.Years_in_current_job.value_counts()

10+_years    13149
2_years       3225
3_years       2997
<_1_year      2699
5_years       2487
4_years       2286
1_year        2247
6_years       2109
7_years       2082
8_years       1675
9_years       1467
Name: Years_in_current_job, dtype: int64

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(loans_df[loans_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(loans_cat)
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   Loan_Status_Fully_Paid  ...  Purpose_Other
0                     1.0  ...            0.0
1                     1.0  ...            0.0
2                     1.0  ...            0.0
3                     1.0  ...            0.0
4                     1.0  ...            0.0

[5 rows x 26 columns]

In [7]:
# Merge one-hot encoded features and drop the originals
loans_df = loans_df.merge(encode_df,left_index=True, right_index=True)
loans_df = loans_df.drop(loans_cat,1)
loans_df.head()

   Current_Loan_Amount  Credit_Score  ...  Purpose_Medical_Bills  Purpose_Other
0             99999999         741.0  ...                    0.0            0.0
1               217646         730.0  ...                    0.0            0.0
2               548746         678.0  ...                    0.0            0.0
3             99999999         728.0  ...                    0.0            0.0
4             99999999         740.0  ...                    0.0            0.0

[5 rows x 38 columns]

In [8]:
# Remove loan status target from features data
y = loans_df.Loan_Status_Fully_Paid
X = loans_df.drop(columns=["Loan_Status_Fully_Paid","Loan_Status_Not_Paid"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.849

In [10]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
854/854 [==============================] - 2s 2ms/step - loss: 0.4424 - accuracy: 0.8230
Epoch 2/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3873 - accuracy: 0.8488
Epoch 3/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3818 - accuracy: 0.8493
Epoch 4/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3801 - accuracy: 0.8491
Epoch 5/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3784 - accuracy: 0.8492
Epoch 6/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3780 - accuracy: 0.8494
Epoch 7/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3769 - accuracy: 0.8492
Epoch 8/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3759 - accuracy: 0.8495
Epoch 9/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3753 - accuracy: 0.8497
Epoch 10/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3752 - accuracy: 0.8494
Epoch 11/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3746 - accuracy: 0.8496
Epoch 12/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3740 - accuracy: 0.8498
Epoch 13/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3733 - accuracy: 0.8501
Epoch 14/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3731 - accuracy: 0.8501
Epoch 15/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3723 - accuracy: 0.8500
Epoch 16/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3716 - accuracy: 0.8499
Epoch 17/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3714 - accuracy: 0.8505
Epoch 18/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3710 - accuracy: 0.8499
Epoch 19/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3707 - accuracy: 0.8505
Epoch 20/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3704 - accuracy: 0.8508
Epoch 21/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3700 - accuracy: 0.8506
Epoch 22/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3696 - accuracy: 0.8503
Epoch 23/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3696 - accuracy: 0.8503
Epoch 24/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3685 - accuracy: 0.8504
Epoch 25/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3682 - accuracy: 0.8509
Epoch 26/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3680 - accuracy: 0.8501
Epoch 27/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3675 - accuracy: 0.8505
Epoch 28/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3672 - accuracy: 0.8508
Epoch 29/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3668 - accuracy: 0.8514
Epoch 30/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3664 - accuracy: 0.8517
Epoch 31/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3663 - accuracy: 0.8508
Epoch 32/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3660 - accuracy: 0.8510
Epoch 33/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3660 - accuracy: 0.8518
Epoch 34/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3654 - accuracy: 0.8515
Epoch 35/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3651 - accuracy: 0.8512
Epoch 36/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3649 - accuracy: 0.8519
Epoch 37/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3645 - accuracy: 0.8510
Epoch 38/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3643 - accuracy: 0.8519
Epoch 39/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3644 - accuracy: 0.8517
Epoch 40/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3637 - accuracy: 0.8524
Epoch 41/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3636 - accuracy: 0.8515
Epoch 42/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3637 - accuracy: 0.8514
Epoch 43/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3630 - accuracy: 0.8519
Epoch 44/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3631 - accuracy: 0.8518
Epoch 45/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3627 - accuracy: 0.8527
Epoch 46/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3622 - accuracy: 0.8523
Epoch 47/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3621 - accuracy: 0.8524
Epoch 48/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3617 - accuracy: 0.8516
Epoch 49/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3615 - accuracy: 0.8526
Epoch 50/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3615 - accuracy: 0.8523
285/285 - 0s - loss: 0.3952 - accuracy: 0.8431 - 436ms/epoch - 2ms/step
Loss: 0.39520972967147827, Accuracy: 0.8430705070495605